/*
Colors:
Pale: fff9db
Red: d2503a
Crust: e99534
Blue: 5e63d8
*/

body,
html {
    height: 100%;
}

.menu {
    display: none
}

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/background/toppings-blur.jpg);
}

.fb-page {}

.menuItems h1 {
    font-size: 24px!important
}

.crust,
.hover-crust:hover {
    color: #fff!important;
    background-color: #e99534!important
}

.w3-red,
.w3-hover-red:hover {
    color: #fff!important;
    background-color: #d2503a!important
}

.w3-blue-grey,
.w3-hover-blue-grey:hover,
.w3-blue-gray,
.w3-hover-blue-gray:hover {
    color: #fff!important;
    background-color: #5e63d8!important
}

.w3-pale-green,
.w3-hover-pale-green:hover {
    color: #000!important;
    background-color: #fff9db!important
}