body,
html {
    height: 100%;
}

.menu {
    display: none
}

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/background/toppings-blur.jpg);
    min-height: 90%;
}

.fb-page {}